@model BillPay

@{
    ViewData["Title"] = "Create Bill Pay";
}

<h1 class="display-4">Create Bill Pay</h1>
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateBill">
            <div class="form-group">
                <label class="control-label">Payee ID:</label>
                <input asp-for="PayeeID" id="PayeeID" class="form-control" />
                <span asp-validation-for="PayeeID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Amount:</label>
                <input asp-for="Amount" id="Amount" class="form-control" value="@ViewBag.Amount?.ToString("0.00")" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ScheduleTimeUtc" class="control-label">Schedule Time:</label>
                <input asp-for="ScheduleTimeUtc" id="ScheduleTimeUtc" class="form-control" />
                <span asp-validation-for="ScheduleTimeUtc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Period:</label>
                <select asp-for="Period" asp-items="Html.GetEnumSelectList<Period>()" class="form-control"></select>
                <span asp-validation-for="Period" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create Bill" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>