@model BillPay

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Bill</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditBill">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="BillPayID" />
            <div class="form-group">
                <label asp-for="AccountNumber" class="control-label">Account Number:</label>
                <input asp-for="AccountNumber" class="form-control" />
                <span asp-validation-for="AccountNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PayeeID" class="control-label">Payee ID:</label>
                <input asp-for="PayeeID" id="Payee" class="form-control" />
                <span asp-validation-for="PayeeID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label">Amount:</label>
                <input asp-for="Amount" id="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ScheduleTimeUtc" class="control-label">Schedule Time:</label>
                <input asp-for="ScheduleTimeUtc" id="ScheduleTimeUtc" class="form-control"/>
                <span asp-validation-for="ScheduleTimeUtc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Period:</label>
                <select asp-for="Period" asp-items="Html.GetEnumSelectList<Period>()" class="form-control"></select>
                <span asp-validation-for="Period" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to Bill Pay account select</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
