@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Most Common Bank of Australia</h1>
    <p>WDT 2021 Assignment 2 - Malcolm Tsang s3333925 </p>
</div>
